html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "ZillaSlab-Light", "Arvo","Fira Sans", "Helvetica Neue", "Arial", sans-serif;
  background: #613762;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*text styling*/

@font-face {
  font-family: "ZillaSlab-Light";
  src: url("/assets/fonts/ZillaSlab-Light.woff");
}

@font-face {
  font-family: "ZillaSlab-SemiBold";
  src: url("/assets/fonts/ZillaSlab-SemiBold.woff");
}

p {
  font-size: 2rem;
  line-height: 2.5rem;
}

h1 {
  background: #fff;
  white-space: nowrap;
}
