html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "ZillaSlab-Light", "Arvo","Fira Sans", "Helvetica Neue", "Arial", sans-serif;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 7px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*text styling*/

@font-face {
  font-family: "ZillaSlab-Light";
  src: url("/assets/fonts/ZillaSlab-Light.woff");
}

@font-face {
  font-family: "ZillaSlab-SemiBold";
  src: url("/assets/fonts/ZillaSlab-SemiBold.woff");
}
